
<div class="jumbotron">

    <h1 class="display-4 "><%=@user.first_name%> <%=@user.last_name%></h1>
    <p class="lead"><%=@user.description%></p>
    <p>email: <%=@user.email%></p>
    
</div>
          